<h1>Edit a Band</h1>
  <form action="<%= users_url %>" method="POST">
  <label for="name">Band Name</label>
  <input id="name" type="text" name="user[name]" value="">
  <input type="submit" value="Submit">
</form>